.admin-dashboard {
  height: 100vh;
  background: white!important;

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);

    &_logo{
      font-size: 30px;
      font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      font-weight: 600;
      cursor: pointer;
    }
  }

  & > div:last-child{
    display: flex;

    & > div:last-child{
      padding: 25px;
      width: 100%;
      height: 95vh;

      .admin-dashboard-content_add-funder{
        width: 750px;
        margin: auto;
      }
    }
  }
}