@import '../../../Scss/color.scss';

.navbar-logo {
    width: 92px;
}

.navbar {
    background: $backgroundBlue;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    a,
    p {
        color: $whiteColor;
        align-items: center;
        display: block;
        height: 100%;
        white-space: nowrap;

    }

    p {
        padding: 4px;

    }

    a {
        padding: 0;
        width: 55%;
    }
}

.toggle-button {
    display: none;
    color: $whiteColor;
    font-size: 1.8rem;

    @media screen and (max-width:760px) {
        display: block;
    }
}

.navLinks {
    display: flex;

    a {
        padding: 0 7px;

    }

    @media screen and (max-width:760px) {
        display: none;
    }
}

.navLinksMobile {
    position: absolute;
    display: block;
    background: $backgroundBlue;
    left: 0;
    top: 75px;
    width: 100%;
    z-index: 2;

    a {
        padding: .5em 1em;
    }
}

.nav-section {
    display: flex;
}