.admin-container {
  background-color: white!important;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_form-block {
    width: 500px;
    margin: auto ;

    &_title{
      font-size: 50px;
      text-align: center;
      margin-bottom: 25px;
    }
  }
}

.reload {
  cursor: pointer;
  width: 50px;
  &.loading {
    cursor: pointer;

    img {
      transition: 0.1s ease-in-out;
      transform: rotate(360deg);
    }
  }
}